[MAIN]

# Use an expression compatible with dateparser (https://dateparser.readthedocs.io/en/latest/)
# Like "in 7 hours", "in 1 week" or "in 1 month". Leave empty to disable expiration

# Route automatic expiration
webhook_expire="in 1 week"

# Callbacks automatic expiration (to purge older callbacks)
delete_callback_older_than="1 month ago"
