<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="author" content="Gabriel Bordeaux">
<meta name="revisit-after" content="7">
<meta name="robots" content="index,follow">

<title>Webhook</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<style>
    html {
        font-size: 0.8rem;
        padding: 6px;
    }
</style>

</head>
<body>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"> {{ host_name }}</a></li>
        {% if route_path %}
            <li class="breadcrumb-item active" aria-current="page">inspect / {{ route_path }}</li>
        {% endif %}
    </ol>
</nav>

<div style="text-align: right;">
    <a href="https://github.com/gabfl/webhook"><button type="button" class="btn btn-success">Fork me <i class="fab fa-github"></i></button></a>
    {% if route_path %}
        <a href="/api/inspect/{{ route_path }}" target="_blank"><button type="button" class="btn btn-warning">View as Json</button></a>
        <a href="/api/delete/{{ route_path }}" target="_blank" onclick="return confirm('Confirm route deletion?');"><button type="button" class="btn btn-danger">Delete (Json)</button></a>
    {% endif %}
    <a href="/new" target="_blank"><button type="button" class="btn btn-primary">New route</button></a>
</div>