{% include "header.html" %}

<div style="min-height: 500px;">
    <p>
        This free and open source tool allows you to test webhooks and other HTTP requests and log their payloads and attributes.
    </p>
    <p>
        The routes are ephemerous (they are typically deleted after 7 days) and should be treated as is.
    </p>

    <div style="text-align: center;">
        <p>
            <a href="/new"><button type="button" class="btn btn-primary btn-lg">Create a new webhook route</button></a>
        </p>
    </div>
</div>

{% include "footer.html" %}