{% include "header.html" %}

<div class="input-group mb-3" style="margin-top: 6px;">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Current route</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{ host_url }}{{ route_path }}">
</div>

{% if callbacks %}
    <div class="alert alert-primary" role="alert">
            Webhook example:

            <pre><code>
curl -X POST {{ host_url }}{{ route_path }} \
-H "Content-Type: application/json" \
-H "X-MyHeader: 123" \
-d '{"hello": "world", "is_true": true}'
</code></pre>
        </div>
        
    {% for callback in callbacks %}
        {% set rowloop = loop %}

        <div class="border border-info" style="padding: 6px; margin-bottom: 4px;">
            <h5>{{ callback.date.strftime('%B %d, %Y %I:%M:%S %p') }}</h5>

            <table class="table table-sm">
                <tbody>
                        <tr>
                            <td>Method</td>
                            <td>{{ callback.method }}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>{{ callback.date.strftime('%B %d, %Y %I:%M:%S %Z') }}</td>
                        </tr>
                        {% if callback.referrer %}
                            <tr>
                                <td>Referrer</td>
                                <td><a href="{{ callback.referrer }}" target="_blank">{{ callback.referrer }}</a></td>
                            </tr>
                        {% endif %}
                        {% if callback.remote_addr %}
                            <tr>
                                <td>IP</td>
                                <td>{{ callback.remote_addr }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Headers</td>
                            <td>
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key in callback.headers %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td>{{ callback.headers[key] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% if callback.args %}
                        <tr>
                            <td>Arguments</td>
                            <td>
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">Key</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key in callback.args %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td>{{ callback.args[key] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Body</td>
                            <td>
                                {% if callback.body %}
                                    <pre><code id="body-{{  rowloop.index }}">{{ callback.body }}</code></pre>
                                {% else %}
                                    <span style="font-style: italic;">empty!</span>
                                {% endif %}
                                </td>
                        </tr>
                        <tr>
                            <td>Body size</td>
                            <td><pre><code>{{ callback.body_size }}</code></pre></td>
                        </tr>
                </tbody>
            </table>
        </div>


        {% if callback.body and callback.body is mapping %}
            <script>
                var obj = {{ callback.body | tojson }};
                var myJSON = JSON.stringify(obj, null, 2);

                document.getElementById("body-{{  rowloop.index }}").innerHTML = myJSON;
            </script>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="alert alert-primary" role="alert">
        No callbacks yet!<br />
        Try a payload and refresh this page:

        <pre><code>
curl -X POST {{ host_url }}{{ route_path }} \
-H "Content-Type: application/json" \
-H "X-MyHeader: 123" \
-d '{"hello": "world", "is_true": true}'
</code></pre>
    </div>
{% endif %}

{% include "footer.html" %}
